<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.area.mapper.TChinaMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.area.entity.TChina">
    <!--@mbg.generated-->
    <!--@Table t_china-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parent" jdbcType="INTEGER" property="parent" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="province" jdbcType="INTEGER" property="province" />
    <result column="city" jdbcType="INTEGER" property="city" />
    <result column="district" jdbcType="INTEGER" property="district" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, type, name, parent, code, province, city, district
  </sql>

</mapper>